@use "scss/mixins";
@use "scss/buttons";
@use "scss/colors";
@use "scss/typography";

:root {
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

figure, p {
  margin: 0;
}

address {
  font-style: normal;
}

img {
  object-fit: cover;
  border-radius: 8px;
}

img,
svg {
  vertical-align: middle;
}

section[id] {
  scroll-margin: 16vh;
}

ul,
ol,
dl,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

dialog {
  width: 100vw;
  height: 100vh;
  border-width: 0;
  padding: 0;
  margin: 0;
  max-width: none;
  max-height: none;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  color: inherit;

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: black;
    opacity: 0.5;
    animation: fade-bd 400ms ease-out both normal;
  }
}

@include mixins.lg {
  [class*="col-lg"] {
    & > div {
      text-align: center;
      align-items: center;
    }
  }
}

@include mixins.sm {
  .col-12 {
    padding: 0 30px;
  }
}