.section {
  position: relative;

  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    h2 {
      margin-bottom: 16px;
    }

    & > div {
      div {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      span {
        font: var(--body-sm);
        line-height: normal;
      }
    }
  }

  :global(.slick-slide) {
    margin-right: 24px;
  }
}
