.popupOuter {
}

.popupInner {
  position: relative;
  display: flex;
  gap: 40px;
  border-radius: 8px;
  padding: 32px;
  margin: 0 40px;
  background-color: rgb(var(--white));
  box-shadow: 0px 8px 16px 0px rgba(var(--black), 0.3);

  & > small {
    font: var(--body-sm);
    position: absolute;
    bottom: 32px;
    left: 40px;
  }
}

.productSelector {
  width: 55%;
  height: 400px;

  & > p {
    color: rgba(var(--gray-800));
    margin: 32px 0px 16px 8px;
  }

  .certificateSelector {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.productDetails {
  width: 45%;
  background: rgba(var(--catskill-white), 0.5);
  border-radius: 8px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(var(--deep-blue));
    background-image: linear-gradient(249deg, #eff3fb 0%, rgba(239, 243, 251, 0) 100%);
    background-blend-mode: overlay;
    padding: 40px;

    h2 {
      color: rgb(var(--catskill-white));
      display: inline-flex;
      align-items: center;
    }
    span {
      &:first-of-type {
        color: rgb(var(--sky-blue));
      }
      &:last-of-type {
        color: rgb(var(--catskill-white));
      }
    }
  }

  .bodyOuter {
    padding: 32px 32px 16px 32px;
    .bodyInner {
      padding: 8px 8px 32px 8px;
      span {
        &:empty {
          &::before {
            content: "*";
            color: rgb(var(--sky-blue));
          }
        }
      }
      .basicData {
        display: flex;
        gap: 40px;
        p {
          div {
            &:first-of-type {
              font: var(--body-sm);
            }
            &:last-of-type {
              color: rgb(var(--gray-800));
            }
          }
        }
      }
      .note {
        font: var(--body-sm);
        margin: 32px 0;
        padding: 32px 0;
        border-top: 1px solid rgb(var(--gray-700), 0.3);
        border-bottom: 1px solid rgb(var(--gray-700), 0.3);
      }
      .value {
        display: flex;
        justify-content: space-between;
        p {
          font: var(--body-sm);
        }
        .conditions {
          span {
            color: rgb(var(--sky-blue));
            &:first-of-type {
              font-size: 32px;
            }
            &:last-of-type {
              font-size: 48px;
            }
          }
          & > div {
            text-align: right;
            &:last-of-type {
              font: var(--body-sm);
            }
          }
        }
      }
    }

    & > a {
      width: 100%;
      justify-content: center;
      background-color: #36b37e;
      margin-bottom: 16px;
      transition: 350ms;
      outline: 1px solid transparent;
      
      &:hover {
        outline-color: #36b37e;
        color: #36b37e;
        background-color: transparent;
      }
    }

    & > small {
      font: var(--caption);
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      svg {
        color: #36b37e;
      }
    }
  }
}

.productSelector,
.productDetails {
}
