button {
  all: unset;
}

.btn:not(.wrapper) {
  font: var(--body-sm);
  cursor: pointer;
  padding: 0px 24px;
  height: 48px;
  color: rgb(var(--white));
  background-color: rgb(var(--sky-blue));
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  transition: ease 350ms;

  &.sm {
    font: var(--body-sm);
    padding: 0 18px;
    height: 40px;
  }

  &.lg {
    padding: 0 32px;
    height: 56px;
  }

  &.light {
    background-color: rgb(var(--white));
    color: rgb(var(--gray-800));
  }
}

a:not(.wrapper) {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  transition: all 350ms;
  position: relative;

  span {
    display: inline-block;
    position: relative;
  }

  &:not(.btn, .wrapper) {
    span {
      &::after {
        content: "";
        background-color: rgb(var(--sky-blue));
        display: inline-block;
        position: absolute;
        bottom: -6.5px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform 500ms;
        transform: scaleX(0);
        transform-origin: center;
      }
    }

    &:hover {
      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &:not(:has(span)) {
    color: rgb(var(--sky-blue));

    &:hover {
      color: rgb(var(--deep-blue));
    }
  }
}

a.wrapper {
  display: flex;
  position: relative;
  text-decoration: none;
}

a:not(.wrapper),
.btn {
  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: transform 350ms;
  }

  &.gap-sm {
    gap: 12px;
  }
}
