:root {
  // grayscale
  --gray-100: 250, 251, 254; // #fafbfe
  --gray-200: 239, 242, 247; // #eff2f7
  --gray-300: 229, 233, 242; // #e5e9f2
  --gray-400: 224, 230, 237; // #e0e6ed
  --gray-500: 211, 220, 230; // #d3dce6
  --gray-600: 192, 204, 218; // #c0ccda
  --gray-700: 132, 146, 166; // #8492a6
  --gray-800: 60, 72, 88; // #3c4858
  --gray-900: 39, 52, 68; // #273444
  --black: 31, 45, 61; // #1f2d3d
  --white: 255, 255, 255; // #fff

  // main colors
  --catskill-white: 239, 243, 251; // #eff3fb
  --sky-blue: 0, 134, 255; // #0086ff
  --deep-blue: 14, 21, 48; // #0e1530
}
