:root {
  //heading
  --heading-1: 500 56px/72px var(--rem);
  --heading-2: 500 40px/56px var(--rem);
  --overline: 400 14px/21px var(--rem);

  // paragraph
  --body-md: 400 18px/32px var(--rem);
  --body-sm: 400 16px/28px var(--rem);
  --caption: 400 12px/18px var(--rem);
}

.overline {
  font: var(--overline);
  color: rgb(var(--sky-blue));
  display: inline-flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  margin-bottom: 32px;

  &::before {
    content: '';
    width: 24px;
    height: 1px;
    display: block;
    background-color: rgb(var(--sky-blue));
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--gray-800));
  font-weight: 500;
  margin: 0;
}

h1 {
  font: var(--heading-1);
}

h2 {
  font: var(--heading-2);
}

body {
  font: var(--body-md);
  color: rgb(var(--gray-700));
}